<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.alibaba.android.arouter">

    <!-- 读写存储的权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:icon="@drawable/ic_launcher"/>
</manifest>
