<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.alibaba.android.arouter.demo">

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="ARouter demo"
        android:theme="@style/Base.Theme.AppCompat">
        <activity android:name=".SchemeFilterActivity">

            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="m.aliyun.com"
                    android:scheme="arouter"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>

            <!-- App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="m.aliyun.com"
                    android:scheme="http"/>
                <data
                    android:host="m.aliyun.com"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TestWebview">
        </activity>
        <activity android:name=".testactivity.Test1Activity">
        </activity>
        <activity android:name=".testactivity.Test2Activity">
        </activity>
        <activity android:name=".testactivity.Test3Activity">
        </activity>
        <activity android:name=".testactivity.Test4Activity">
        </activity>
    </application>

</manifest>