<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alibaba.android.arouter.demo.module1">

    <!-- 读写存储的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity android:name="com.alibaba.android.arouter.demo.module1.TestModuleActivity" />
        <activity android:name="com.alibaba.android.arouter.demo.module1.TestModule2Activity" />
        <activity android:name="com.alibaba.android.arouter.demo.module1.TestWebview" />
        <activity android:name="com.alibaba.android.arouter.demo.module1.testactivity.Test1Activity" />
        <activity android:name="com.alibaba.android.arouter.demo.module1.testactivity.Test2Activity" />
        <activity android:name="com.alibaba.android.arouter.demo.module1.testactivity.Test3Activity" />
        <activity android:name="com.alibaba.android.arouter.demo.module1.testactivity.Test4Activity" />
        <activity android:name="com.alibaba.android.arouter.demo.module1.testactivity.TestDynamicActivity" />
    </application>

</manifest>